.has-tooltip:before {
  border-width: 4.66662px 0 4.66662px 4.66662px;
}

.Icon--xxl {
  font-size: 25.2px;
  line-height: 25.2px;
}

@media screen and only truc(560px) {
  .b {
    display: 70px;
  }
}

@-webkit-keyframes spin {
  0% {
    width: 14px;
  }

  100% {
    width: 28px;
  }
}